/aclocal.m4
/autom4te.cache/
/ar-lib
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/configure~
/depcomp
/install-sh
/missing
/stamp-h1
/Makefile
/Makefile.in
.deps/
.dirstamp

*.o
*.a
/fastent
/fastent.exe
/tests/bench-gen
/tests/fixtures/
/tests/tmp/

/fastent-*.tar.*
/fastent-*.zip
/ChangeLog.tmp
*~
*.orig
*.rej
*.bak
core
core.*
conftest
conftest.*

/attic/
/.cache/
/.vscode/
/compile_commands.json
